{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'warning' %}
            <div class="text-center alert alert-danger">
                     {{ message }}
            </div>
        {% else %}
            <div class="text-center alert alert-{{ message.tags }}">
                     {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container wrapper flex-grow-1">


      <h1 class="my-4">Пользователи</h1>
      
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
      {% for user in users %}
  <tbody>
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.get_full_name }}</td>
        <td>{{ user.date_joined }}</td>
        <td>
          <a href="{% url 'users:update_page' pk=user.id %}">Изменить</a>
          <br>
          <a href="{% url 'users:delete_page' pk=user.id %}">Удалить</a>
        </td>
      </tr>
  </tbody>
    {% endfor %}
</table>

</div>

{% endblock %}