{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}

{% load i18n %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'warning' %}
            <div class="text-center alert alert-danger">
                     {{ message }}
            </div>
        {% else %}
            <div class="text-center alert alert-{{ message.tags }}">
                     {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container wrapper flex-grow-1">


<form method="get" action="{% url 'tasks:index_page' %}">{% csrf_token %}
  {{ filter.form.as_p }}
  <input type="submit" value="{% translate Показать %}" class="btn btn-primary">
</form>

<h1 class="my-4">{% translate "Задачи" %}</h1>

<a class="btn btn-primary mb-3" href="{% url 'tasks:create_page' %}">{% translate "Создать задачу" %}</a>

<table class="table table-striped">

  <thead>
    <tr>
      <th>{% translate "ID" %}</th>
      <th>{% translate "Имя" %}</th>
      <th>{% translate "Статус" %}</th>
      <th>{% translate "Автор" %}</th>
      <th>{% translate "Исполнитель" %}</th>
      <th>{% translate "Дата создания" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for task in filter.qs %}
      <tr>
        <td>{{ task.id }}</td>
        <td>
          <a href="{% url 'tasks:detail_page' pk=task.id %}">{{ task.name }}</a>
        </td>
        <td>{{ task.status }}</td>
        <td>{{ task.author.username }}</td>
        <td>{{ task.executor }}</td>
        <td>{{ task.created_date }}</td>
        <td>
          <a href="{% url 'tasks:update_page' pk=task.id %}">{% translate "Изменить" %}</a>
          <br>
          <a href="{% url 'tasks:delete_page' pk=task.id %}">{% translate "Удалить" %}</a>
        </td>
      </tr>
    {% endfor %}



  </tbody>
</table>

</div>

{% endblock %}